body {
  background: #e6ebe0;
}
.master_forms {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #20172c;
  font-family: "Roboto";
  font-size: 15px;
}
.master_forms input {
  margin-top: 10px;
}
.forms_text {
  width: 80%;
  border-radius: 8px 8px 8px 8px;
  height: 30px;
  padding: 5px;
}
