@import "colors"
@import "fonts"
body
  background $c1
  font-family $font1
  
.master_forms
  padding-top 100px
  width 80%
  margin 0 auto
  text-align center
  color $dark_c1
  font-family $font1
  font-size 15px
  input
    margin-top 10px
.s_galery
  float left
  width 30%
.galery
  margin 0 auto
  text-align center
  width 50%
  padding-top 5px
  img
    padding-top 5px
    max-width 100% 
    height:auto
main 
  postion relative;
.top_bar
  float right
  width 70%
.avatar
  width 200px
  padding-left 10px
  float: left
  img
    padding-top 5px
    max-width 100% 
    height:auto
.names
  padding-top: 20px
  text-align: center
.sub
  padding-top 20px
.rating
  float right
  width 70%
  text-align center
  p 
    margin 0px
  span
    font-size 45px
    text-align center
.comment
  float right
  width 70%
.com 
  padding 15px 
.user
  padding 10px 0 0 15px
.s_rating
  height 40px
.s_top_bar
  height 200px 
.s_comment
  margin-top 50px
  height 1000px 