$dark_c1 = #20172C
$c1 = #e6ebe0
body
    backgrond $c1
///////////////////////
.title__h1
    font-size: 7em
    font-family "Roboto"
    font-weight 700
    color $font_c
    z-index 10
.main-page-title__h1
    font-family "PT Sans"
    font-size 3em
    font-style: italic
    color $c1
    z-index 10
.center-text__div
    display table
    text-align center
    width 100%
    color $c1
    position absolute
    top 0
    z-index 10
.section1-bg__img
    width 100%
    margin-top -30vh
    z-index 0
.section1__div
    width 100%
    height 60vh
    overflow hidden
    margin 0
    padding 0
.section1-dark__div
    width 100%
    height 60vh
    position absolute
    opacity 0.4
    background #333
    z-index 1
.section2__div
    height 200vh
    width 100%
